<div class="container">
    <h1>Historique de votre paiment</h1>
    <div class="search">
        <h2>Recherche : </h2>
        <form [formGroup]="form" (ngSubmit)="search()">
            <div class="input">
                <input type="text" placeholder="Responsable..." formControlName="name_developer">
                <input type="text" placeholder="Numéro..." formControlName="number">
                <input type="text" placeholder="Référence..." formControlName="reference">
                <input type="text" placeholder="Raison..." formControlName="reason">
                <input type="text" placeholder="Prix" formControlName="price">
                <input type="date" formControlName="date">
            </div>
            <button type="submit">Chercher...</button>
        </form>
    </div>
    <div class="table-container">
        <table class="historical-table">
            <thead>
                <tr>
                    <th>Responsable</th>
                    <th>Numéro</th>
                    <th>Référence</th>
                    <th>Raison</th>
                    <th>Prix</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                @for (item of historicalStore.historicals(); track $index) {
                    <tr>
                        <td>{{item.name_developer}}</td>
                        <td>{{item.numberDeveloper}}</td>
                        <td>{{item.reference}}</td>
                        <td>{{item.reason}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.created_at | date:'yyyy-MM-dd / HH:mm'}}</td>
                    </tr>                    
                }
            </tbody>
        </table>
    </div>
    <div class="btn">
        <a (click)="back()" [class.hide]="!loadBack()">Précedent</a>
        
        <a (click)="next()" [class.hide]="!loadNext()">Suivant</a>
        
        </div>
        <div class="test">
            <p>{{(page() + 1)}} / {{count()}}</p>
        </div>
</div>