<div class="container">
    <div class="hello">
        <p>Bonjours <span>{{userStore.user()?.firstName}} {{userStore.user()?.lastName}}</span></p>
        <p>Nous vous aiderons à faciliter vos paiments ou vos ventes en ligne</p>
    </div>
    <div class="info">
        PaySim est un moyen de paiment destiné aussi bien aux simples acheteurs de produits en ligne utilisant notre service qu'aux porteurs de projets ne sachant pas comment récupérer l'argent de leurs acheteurs. Nous sommes ici pour résoudre votre problème.
    </div>
    <div class="info">
        Actuellement. PaySim ne prend en charge que les Mobile Money à Madagascar. Il est en cours d'amélioration pour proposer une version plus robuste ainsi que d'autres modes de paiement.
    </div>
    <div class="info">
        Nous sommes responsable en cas d'incident si cela se produit, et nous disposons de toutes les informations nécessaires pour trouver une solution. Avec nous, l'honnêteté, la responsabilité et la sécurité sont prioritaires. Rien n'est perdu. Vous pouvez également appeler notre agence pour obtenir plus d'informations
    </div>
</div>