<div class="container">
    <div class="choice">
        <a [class.active]="actor() === 'v'" (click)="actor.set('v')"> Vendeur </a>
        <a [class.active]="actor() === 'a'"  (click)="actor.set('a')"> Acheteur </a>
    </div>

    @if (actor() === 'v') {
        <div class="vendeur">
            @if (store.valueqr() === null) {
                
                <h2>Créer un payment</h2>
                <form [formGroup]="infoPayFormGroup" (ngSubmit)="save()">
                    <mat-form-field>
                        <mat-label>ApiKey </mat-label>
                        <input matInput type="text" formControlName="apiKey">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Id_commande </mat-label>
                        <input matInput type="text" formControlName="idOrder">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Prix total </mat-label>
                        <input matInput type="number" formControlName="totalPrice">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Numéro téléphone </mat-label>
                        <input matInput type="text" formControlName="num">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <button mat-flat-button type="submit" [disabled]="!infoPayFormGroup.valid">
                        @if(store.loading()){
                            <mat-spinner class="white-spinner" [diameter]="20" [strokeWidth]="3"></mat-spinner>
                        }@else {
                            Enregistrer
                        }
                    </button>
                </form>
            }
            @if(store.valueqr() !== null){
                <h2>Répond aux achats</h2>
                <a (click)="connectProjet()" style="margin-bottom: 20px;">Connecté mon projet au Hub</a>
                <form [formGroup]="sellerFormGroupe" (ngSubmit)="goHubVerifieBuyer()">
                    <mat-form-field>
                        <mat-label>Reference </mat-label>
                        <input matInput type="text" formControlName="ref">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Connectio Id </mat-label>
                        <input matInput type="text" formControlName="con">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Id developpeur </mat-label>
                        <input matInput type="text" formControlName="idDev">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Raison </mat-label>
                        <input matInput type="text" formControlName="reason">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Prix </mat-label>
                        <input matInput type="number" formControlName="price">
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </mat-form-field>
                    <button mat-flat-button type="submit">
                        @if(store.loading()){
                            <mat-spinner class="white-spinner" [diameter]="20" [strokeWidth]="3"></mat-spinner>
                        }@else {
                            Enregistrer
                        }
                    </button>
                </form>
                
                    <p class="qr">{{store.valueqr()?.valueKey}}</p>
                
            }

        </div>
    }
    @if (actor() == 'a') {
        <div class="ach">
        <h1>K O T L I N</h1>
            <form [formGroup]="continuationFormGroup" (ngSubmit)="goHubVerifiePaySeller()">
                <mat-form-field>
                    <mat-label>Id paiment </mat-label>
                    <input matInput type="text" formControlName="id_pay">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Id projet </mat-label>
                    <input matInput type="text" formControlName="id_proj">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Id_ acheteur </mat-label>
                    <input matInput type="text" formControlName="id_cust">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Raison </mat-label>
                    <input matInput type="text" formControlName="reason">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Numéro </mat-label>
                    <input matInput type="text" formControlName="number">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Prix </mat-label>
                    <input matInput type="number" formControlName="price">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Clé d'action </mat-label>
                    <input matInput type="text" formControlName="actionKey">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Numéro d'acheteur </mat-label>
                    <input matInput type="text" formControlName="numberCUstomer">
                    <mat-error>Ce champ est obligatoire</mat-error>
                </mat-form-field>
                <button mat-flat-button type="submit" [disabled]="!continuationFormGroup.valid">
                    @if(store.loading()){
                        <mat-spinner class="white-spinner" [diameter]="20" [strokeWidth]="3"></mat-spinner>
                    }@else {
                        Enregistrer
                    }
                </button>
            </form>
            
        </div>
    }
    @if (store.error()) {
        <div class="error-block">
            <p>⚠️ {{ store.error() }}</p>
        </div>
    }@else {
        @if(store.isValide()){
            <div class="valide">
                <div class="logo"><img src="ok validé.png" alt=""></div>
                <h2>Paiemnt validé</h2>
            </div>
        }@else {
            <div class="info">
                <h2>Paiement en attente...</h2>
            </div>
        }
    }
</div>