.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.container .choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a{
        cursor: pointer;
        padding: 20px;
        background-color: blue;
        color: white;
        border-radius: 5px;
        font-size: 20px;
    }
    a.active{
        background-color: rgb(0, 0, 88);
    }
}
.container .vendeur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
        background-color: rgb(59, 59, 0);
        color: rgb(255, 255, 146);
        padding: 15px 10px;
        cursor: pointer;
        border-radius: 10px;
        width: 300px;
        text-align: center;
        transition: all 0.3s ease;
    }
    a:hover{
        letter-spacing: 3px;
        box-shadow: 0 0 15px 5px darkgray;
    }
    .qr{
        padding: 10px;
        background-color: blue;
        color: white;
        border-radius: 10px;
        max-width: 500px;
        font-size: 18px;
    }
}
.container .vendeur form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container .a{
    width: 100%;
}
.container .ach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(133, 124, 252);
    padding: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 0  12px 5px gray;
    h1{
        margin: 0;
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}
.container .ach form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.valide{
    margin-right: 20%;
    justify-self: self-end;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
    border: 6px blue dotted;
    border-radius: 10px;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 10px;
        background-color: green;
        padding: 40px;
        img{
            width: 280px;
            height: auto;
        }
    }
    h2{
        text-align: center;
    }
}
.info{
    
    width: 500px;
    height: 500px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    padding: 5px 50px;
    letter-spacing: 5px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20%;
}
.error-block{
    text-align: center;
    margin-right: 20%;
    padding: 0 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 0, 0);
    color: white;
    hyphens: auto;
    font-size: 18px;
}