<div class="off-sim">
    <h1>Simulation</h1>
    <div class="desciption">
        <p>Bonjour <span>RAFANOMEZANTSOA Mahazo Faniry</span>!</p>
        <p>Dans cette partie de la simulation, vous aure besoin de <span>trois navigateur</span>. Dans tous les cas, vous (ou l'utilisateur) ne devze pas être connecté à <span>PaySim</span> dans le navigateur utilisé par votre projet. Sinon, le projet affichera une erreur ou pourra fonctionner en local, mais pas sur votre déploiment.</p>
        <p>Les deux utilisateurs de test doivent être connectés sur des navigateurs différents ou, si possible, sur <span>des postes différents</span> afin de tester correctement la fonctionnalité de transaction.</p>
        <div class="avrt">
            Si vous comptez lancer votre projet sur ce navigateur, veuillez vous déconnecter de PaySim au préalable!.
        </div>
        <div class="btn">
            <a (click)="goOffSim()">Utilisateur</a>
            <a (click)="logout()">Projet</a>
        </div>
    </div>
</div>