<div class="container"> 
    <h1>Téléchargement de l'application</h1>
    <div class="des">
        Vous pouvez télécharger l'application PaySim dans cette section. Si vous possédez un projet et un compte developpeur, vous pouvez activer le mode vendeur. Sinon, vous serez en mode acheteur, qui vous permet d'effectuer des paiements en ligne, comme tous les utilisateurs de PaySim.
    </div>
    <div class="imgs">
        <div class="img">
            <img src="app_mobile/login.png" alt="image capture paysim mobil">
        </div>
        
        <div class="img">
            <img src="app_mobile/home.png" alt="image capture paysim mobil">
        </div>
        <div class="img">
            <img src="app_mobile/scan.png" alt="image capture paysim mobil">
        </div>
        <div class="img">
            <img src="app_mobile/sms.png" alt="image capture paysim mobil">
        </div>
    </div>
    <div class="btn">
        <a (click)="downApp()">Télécharger l'application</a>
    </div>
</div>