<div class="menu" [class.show]="menuShow()">
    <div class="header">
        <div class="logo"><img src="PaySim.png" alt=""></div>
        @if(!store.isError()){
            <div class="firstname">{{store.user()?.firstName}}</div>
            <div class="lastname">{{store.user()?.lastName}}</div>
        }
    </div>
    <hr>
    <div class="sim">
        <a  (click)="pageStore.setPageState('Sim')" [class.active]="pageStore.page() === 'Sim'">
            <img src="simulation.png" alt="">
        </a>
    </div>
    <div class="items">
        <a (click)="pageStore.setPageState('Developer')" [class.active]="pageStore.page() === 'Developer'">Developpeur</a>
        <a (click)="pageStore.setPageState('Project')" [class.active]="pageStore.page() === 'Project'">Projet</a>
    </div>
    <div class="logout">
        <a (click)="logout()">Déconnection</a>
        <a class="rtr" (click)="menuShow.set(false)"><mat-icon>arrow_back</mat-icon></a>
    </div>
</div>

<div class="showGo" [class.hide]="menuShow()">
    <a class="rtr" (click)="menuShow.set(true)"><mat-icon>arrow_forward</mat-icon></a>
</div>