*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    z-index: 1;
    left: -50%;
    background-color: var(--color-bg);
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 5px var(--color-border) solid;
    transition: all 1s ease;
}
.menu .subject{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.menu .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu .logo .img{
    width: 150px;
    height: 210px;
    padding: 10px 5px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    border: 2px var(--color-border) solid;
    box-shadow: 0 0 10px 2px var(--color-text-primary);
    img{
        width: 100%;
        height: auto;
    }
}
.menu .logo .name{

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    p{
        color: var(--color-text-primary);
        margin: 0;
        padding: 0;
    }
}
.menu .subject .simulation{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    background-color: white;
    overflow: hidden;
    height: 50px;
    img{
        
        width: 60px;
        height: auto;
    }
}

.menu .subject .menu-items{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2px;
    a{
        cursor: pointer;
        padding: 20px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--color-primary);
        color: white;
        width: 100%;
        gap: 5px;
        transition: all 0.3s ease;
    }
    a:hover{
        background-color: var(--color-primary-hover);
    }
}
.menu .subject .menu-items a.active{
    background-color: var(--color-primary-select);
}
.menu .exit{
    margin-bottom: 20px;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    gap: 20px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        padding: 20px 10px;
        display: flex;
        color: white;
        background-color: var(--color-error);
        border-radius: 10px;
    }
    a:hover{
        background-color: var(--color-error-hover);
    }
}
.menu.show{
    left: 0%;
}
.menu-icon{
    left: -20%;
    pointer-events: none;
    position: fixed;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    padding: 10px 5px;
    transition: all 1s ease;

}
.menu-icon .dev a{
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 25px;
}
.menu-icon .menu-icon-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(124, 124, 124);
    a.lg{
        color: var(--color-error);
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
    }
    a:hover{
        color: white;
    }
}
.icon-show{
    left: 0;
    pointer-events:auto;
}
.menu-icon .menu-icon-items a.active{
    background-color: white;
    color: black;
}